# Database
DATABASE_URL="mongodb+srv://imkish18_db_user:XOST3wpObLXdncMt@cluster0.hxdt4xi.mongodb.net/crm_database?retryWrites=true&w=majority&appName=Cluster0"

# NextAuth
NEXTAUTH_URL="https://crm.troikatech.in"
NEXTAUTH_SECRET="your-secret-key-here"

# For local development with SQLite:
# DATABASE_URL="file:./dev.db"

# For production with PostgreSQL:
# DATABASE_URL="postgresql://username:password@localhost:5432/crm_db"
